<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @seller.name %>, a request for one of your books has been cancelled!</h3>
    <p>
      Hopefully this was a mutual decision between you and <%= @buyer_name %>! Whatever the reason, the request was cancelled, and your book has been relisted. If you do not wish your book to be available on the 5C Book Exchange anymore, go to <a href="<%= @url %>">the 5C Book Exchange</a>, log in and go to 'My Books'. From there you can delete the listing permanently.<br>
    </p>
    <p>To buy and sell more textbooks, or to check the status of your books, go to <a href="<%= @url %>">the 5C Book Exchange</a> and log in using your 5C email address.<br/> 
    </p>
    <p>Thanks for using the 5C Book Exchange, and good luck!</p>
  </body>
</html>