<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the 5C Book Exchange, <%= @user.name %></h1>
    <p>
      You have successfully signed up! To get started selling your textbooks, or to buy next semester's books, just follow this link: <%= @url %> and log in using your 5C email address.<br/>
    </p>
    <p>Thanks for joining and hopefully you find the site useful!</p>
  </body>
</html>