<div class="sell-form-divider">
	<div class="field"><%= l.text_field :title, :placeholder => 'Book Title', :class => 'book_title' %></div>
	<div class="field"><%= l.text_field :author, :placeholder => "Author(s)", :class => 'book_author '%></div>
	<div class="field">$<%= l.text_field :price_dollars, :placeholder => 'dollars', :class => 'price_dollars' %><%= l.select( :price_cents, [['.00', '0'],['.25','25'], ['.50','50'], ['.75','75']], :default => '.00') %></div>
</div>
<div class="sell-form-divider">
  <div class="form-message"><p id="title">Enter the title of your book here!</p></div>
  <div class="form-message"><p id="author">Who's the author?</p></div>
	<div class="form-message"><p id="price_dollars">How much are you asking for?</p></div>
</div>
