<div class="sell-form-divider">
	<div class="field"><%= l.text_field :isbn, :placeholder => 'ISBN', :class => 'isbn' %></div>
	<div class="field"><%= l.text_field :edition, :placeholder => 'Edition' %></div>
	<div class="field"><%= l.select( :condition, [['---Condition---', '--Condition--'],['New','New'], ['Lightly Used','Lightly Used'], ['Heavily Used','Heavily Used'], ['Falling Apart','Falling Apart']], :default => '---Condition---') %></div>
	<div class="field"><%= l.text_area :description, :placeholder => 'Give a short description' %></div>
</div>
<div class="sell-form-divider">
  <div class="form-message">
    <p style="font-size:16px;">None of these fields are required, but it's <b>highly recommended that you include the (13-digit) ISBN, to ensure your listing gets found when people search for books by course!</b> This is because your book's title might not exactly match the database (due to abbreviations, misspellings, etc.). If you don't know the ISBN right now, you can also add it later! </p>
    <br>
  </div>
</div>
