<h3 class="centered">Login with Facebook to finalize your listing!</h3>
<br>
<div class="big-fb-button">
  <%=link_to( image_tag('/assets/large-fb-login.png'), '/auth/facebook/') %>
</div>
<div class="clear"></div>