<div id="sell-form-signed-in">
	<%= form_for @listing do |f| %>
	  <div id="sell-form-required">
	    <%= render 'shared/sell_form_required', :l => f %>
		  <div class="clear"></div>
			<div id="bottom_button">
			<%= render :partial => "shared/fancy_button", :locals => { :button_id => "sell-form-signed-in-final-button", :button_class => 'disabled', :text => "Post Your Book!"} %>
			</div>
			<div class="clear"></div>
		</div>
	<% end %>
</div>
