<h2>Welcome to the 5C Book Exchange!</h2>

<p>This web app was created to simplify the process of buying and selling textbooks for 5C students. Why  make this app, when there are so many different services (Chirps, Huntley, SwoopThat, Ebay, Amazon) that we can use to buy and sell books? Because at the end of the day, I've never been satisfied with these methods and usually end up feeling ripped off. Why is the 5C Book Exchange any better?</p>

<h4>No shipping: </h4>
    <p class="about">Your books are within a 1 mile radius from your dorm. This means no shipping costs, and no wait. You can search for a book and have it within hours, instead of days. And since you get to meet the seller in person, you can be sure of the condition of the book before making your purchase.</p>

  - No extra fees:<br>
    <p class="about">When you buy or sell a book on Amazon or Ebay, even if it's used, the middleman gets a cut of the money. Why do we even need the middleman?</p>

  - Tailored to 5C students and their classes:<br>
    <p class="about">Every year, the exact same classes are offered on the 5Cs, over and over. And unless a major revision is released, the same textbook is often used for a number of years. We simply don't need an outside source for the majority of our textbooks.</p>

  - Simple to use:<br>
    <p class="about">To sell a book, all you need is a 5C email address. To buy a book, you don't even need to sign up! The 5C Book Exchange is dedicated to a single task, it does it right. There isn't a lot to do on the site, which makes it incredibly simple to use. The hassle of just setting up a seller account on Ebay is enough for many students to return their books to Huntley at a considerable loss.</p>