<h3>Welcome to the 5C Book Exchange!</h3>
<div id="main">
	<h4 class="centered">To get started, just enter the title of the book you are trying to buy or sell.</h4>
		<p class="centered">Alternatively, you can search for that book by the course that requires it.</p>
	<div id="search-for-books">
		<%= render 'shared/searchbar' %>
		<div id="results"></div>
	</div>
</div>