<div id="search-sell-container">
	<div id="search-sell-full">
		<div id="search-sell-buttons">
		  <ul>
			  <li><a href="#" id="buttons-search">Search for Books!</a></li>
				<li><a href="#" id="buttons-sell">Sell your Books!</a></li>
			</ul>
		</div>
		<div id="search-sell-main">
			<div id="search-for-books">
				<%= render 'shared/searchbar' %>
				<div id="results"></div>
			</div>

			<div id="sell-your-books">
				  <%= render 'shared/sell_form' %>
			</div>
		</div>
	</div>
</div>