<h2>Search for Books - Sell your Books!</h2>

<div id="search-for-books">
	<%= render 'shared/searchbar' %>
</div>

<div id="sell-your-books">
  <%= render 'shared/listing_form' %>
</div>


<h3> Recent Listings: </h3>