<div id="main">
	<h4 class="centered">To get started, just enter the title of the book you are trying to buy or sell.</h4>
		<p class="centered">Or you can search for books by the courses that requires them.</p>
	<div id="search-for-books">
		<%= render 'shared/searchbar' %>
		<div id="results"></div>
	</div>
</div>