// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$search-sell-background-blue: #71B1F2;    /*   #578BF2;*/
$search-sell-buttons-inactive-blue: #11379E;

p.about {
  text-indent: 12px;
}

#main {
	position: relative;
	background-color:$search-sell-background-blue;
	padding:16px;
	max-width: 680px;
	min-width: 675px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	@include rounded-corners(10px, 10px, 10px, 10px)
}


#search-button {
  position:relative;
  top: -10px;
  right:-250px;
}

#sell-form-required-email, #sell-form-required {
  min-height: 280px;
  position: relative;
	display: block;
}

#sell-form-required {
  min-height: 280px;
}

#sell-form-required-hidden {
  display:none;
}


#sell-form-final {
  min-height: 220px;  
  position: relative;
	display: block;
	padding:9px;
}

.sell-form-divider {
  float:left;
	width:326px;
	min-height:220px;
	
}
.sell-form-divider.static{  
	min-height: 70px;
}

textarea{
  width: 265px;
  height: 6em;
  rows:6;
  columns:36;
}

#main input[type=text], input[type=password], input[type=email]{
  width: 250px;
}

#main div.searchbar{
  text-align: center;    
  input[type=text] {
    line-height:2em;
    font-size:12pt;
    width:400px;
  }
}

#main input.price_dollars, input.price_dollars {
  width: 4em; 
  margin-left: 0px;
  margin-right: 0px;
}

#main input.price_cents, input.price_cents {
  width: 3em; 
  margin-left: 0px;
  margin-right: 0px;
}


.sell-form-divider .field {
  margin-right: 25px;
  float:right;
}

input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #C9C9C9;  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    }

#listing_price_cents, .cents-select{
  font-size:12pt;
  height:38px;
  position:relative;
  top:1px;
}

@-webkit-keyframes pulsate {
	0%   {  -webkit-box-shadow: 0px 0px 0px white;  border:2px white inset  }
	50%  {  -webkit-box-shadow: 0px 0px 30px white;    border:2px white inset }
	100% {  -webkit-box-shadow: 0px 0px 0px white;  border:2px white inset  }
}
input.isbn{
	-webkit-animation-name: pulsate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;

	-moz-box-shadow: 0px 0px 30px  white;
	box-shadow: 0px 0px 30px white;
}



.sell-form-divider .form-message {
  padding-top:7px;
  margin-right:0px;
  margin-top:15px;
  margin-bottom:21px;
  height: 30px;  
  text-align:center;
}


.sell-form-divider .form-message.static {
  text-align:left;
}


.sell-form-divider p {
  font-size:17px;
  margin:0px;
  margin-left:0px;
  color: #333333;
}

#bottom_button{
  margin-right:22px;
  float:right;
}
/*
#sell-form-required-button, #sell-form-signed-in-required-button  {
  position:relative;
  top: 5px;
  right:-480px;
}
*/

#sell-form-optional-button, #sell-form-signed-in-final-button {
  position:relative;
}



