// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$search-sell-background-blue: #71B1F2;    /*   #578BF2;*/
$search-sell-buttons-inactive-blue: #11379E;

p.about {
  text-indent: 12px;
}


#search-sell-container{
  position:relative;
  padding: 8px;
}

#search-sell-full {
	position: relative;
	background-color:$search-sell-background-blue;
	margin-top: 45px;
	max-width: 680px;
	min-width: 675px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	@include rounded-corners(0px, 10px, 10px, 10px)
}

#search-sell-buttons {
	/*background-color: white;*/
	max-width: 680px;
  /*border: 1px solid black;*/
	
}

#search-sell-buttons ul {
	list-style: none;
	padding:0px;
	margin:0px;
	max-width: 680px;
}

#search-sell-buttons ul li {
	display: inline;
}

#search-sell-buttons li a {
	font-size: 20px;
	position:relative;
	top:-34px;
	color: #fff;
	padding-bottom: 8px;
	text-decoration: none;
  @include rounded-corners(10px, 10px, 0px, 0px)
}

#search-sell-buttons li a#buttons-search {
  border-top: 20px solid $search-sell-background-blue;
  border-left: 40px solid $search-sell-background-blue;
  border-right: 40px solid $search-sell-background-blue;
  background-color: $search-sell-background-blue;
}

#search-sell-buttons li a#buttons-sell {
  border-top: 20px solid $search-sell-buttons-inactive-blue;
  border-left: 40px solid $search-sell-buttons-inactive-blue;
  border-right: 40px solid $search-sell-buttons-inactive-blue;
  background-color: $search-sell-buttons-inactive-blue;
}


#search-sell-main {
	padding-bottom: 15px;
}
#search-for-books {
  padding:9px;
	display:block;
	min-height: 200px;
}

#sell-your-books {
	display:none;
	min-height:280px;
}

#search-for-books div.searchbar{
  text-align: center;    
  input {
    width:350px;
  }
}

#search-button {
  position:relative;
  top: -10px;
  right:-250px;
}

#sell-form-required-email, #sell-form-required {
  min-height: 280px;
  position: relative;
	display: block;
}

#sell-form-required {
  min-height: 280px;
}

#sell-form-required-hidden {
  display:none;
}

#sell-form-optional {
  min-height: 220px;  
  position: relative;
	display: block;
}

#sell-form-signed-in #sell-form-optional{
  display:none;
}

#sell-form-final {
  min-height: 220px;  
  position: relative;
	display: none;
}

.sell-form-divider {
  float:left;
	width:326px;
	min-height:220px;
	
}
.sell-form-divider.static{
	min-height: 70px;
}

textarea{
  width: 265px;
  height: 6em;
  rows:6;
  columns:36;
}

#search-sell-main input[type=text], input[type=password], input[type=url], input[type=email],{
  width: 250px;
}

input#search{
  
  line-height:2em;
  font-size:12pt;
  
}

#search-sell-main input.price_dollars, input.price_dollars {
  width: 4em; 
  margin-left: 0px;
  margin-right: 0px;
}

#search-sell-main input.price_cents, input.price_cents {
  width: 3em; 
  margin-left: 0px;
  margin-right: 0px;
}

.sell-form-divider .field {
  margin-right: 25px;
  float:right;
}

input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #C9C9C9;  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    }

#listing_price_cents, .cents-select{
  font-size:12pt;
  height:38px;
  position:relative;
  top:1px;
}


.sell-form-divider .form-message {
  border: 1px solid $search-sell-background-blue;
  padding-top:7px;
  margin-right:0px;
  margin-top:15px;
  margin-bottom:21px;
  height: 30px;  
  text-align:center;
}


.sell-form-divider .form-message.static {
  border: none; 
  text-align:left;
}


.sell-form-divider p {
  font-size:17px;
  margin:0px;
  margin-left:0px;
  color: #333333;
}

#bottom_button{
  margin-right:22px;
  float:right;
}
/*
#sell-form-required-button, #sell-form-signed-in-required-button  {
  position:relative;
  top: 5px;
  right:-480px;
}


#sell-form-final-button, #sell-form-final-signup-button,#sell-form-optional-button, #sell-form-signed-in-final-button, #sell-form-final-signin-button {
  position:relative;
  top: 160px;
  right:-180px;
}
*/
