// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.buyer-transaction{
  width: 80%;
  margin: 0px auto;
  background-color:lighten(green,60%);
  border:1px solid green;
  padding:2px;
  margin-bottom:9px;
  @include rounded-corners(5px, 5px, 5px, 5px);
  &:hover{
    cursor:pointer;
    background-color:lighten(green,50%);
  };
}

.seller-transaction{
  width: 80%;
  margin: 0px auto;
  background-color:lighten(green,60%);
  border:1px solid green;
  padding:2px;
  margin-bottom:9px;
  @include rounded-corners(5px, 5px, 5px, 5px);
  &:hover{
    cursor:pointer;
    background-color:lighten(green,50%);
  };
}

.buyer-transaction-complete{
  width: 80%;
  margin: 0px auto;
  background-color:lighten(#FFA500,35%);
  border:1px solid #FFA500;
  padding:2px;
  margin-bottom:9px;
  @include rounded-corners(5px, 5px, 5px, 5px);
  &:hover{
    cursor:pointer;
    background-color:lighten(#FFA500,25%);
  };
}

.seller-transaction-complete{
  width: 80%;
  margin: 0px auto;
  background-color:lighten(#FFA500,35%);
  border:1px solid #FFA500;
  padding:2px;
  margin-bottom:9px;
  @include rounded-corners(5px, 5px, 5px, 5px);
  &:hover{
    cursor:pointer;
    background-color:lighten(#FFA500,25%);
  };
}
  


