// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user {
  min-height:400px;
  min-width:760px;
  max-width:760px;
}

#current-listings {
  float:left;
  padding:5px;
  width:470px;
  min-height:400px;
}



#pending-transactions {
  float: left;
  border-left:1px dashed gray;
  padding: 9px;
  width: 250px;
  min-height:400px;
  margin-left:5px;
}