<div id="no-college">
<h2>You don't have any colleges listed on your Facebook profile!</h2>
<h3>In order to use the 5C Book Exchange, please <br><br>
	1. Go to your Facebook profile and click the 'Edit Profile' button on the upper right corner of the page. <br><br>
	2. Click on the 'Education and Work' tab on the left, and add your college or university! <br><br>
	3. Now, back on this page, click the 'Sign Out' link in the upper right corner of this page, and immediately log back in. <br><br>
	4. You should now be able to buy and sell textbooks with other students from your school!</h3>

<br>
	
<h3>Thanks!</h3>
	
</div>