<div id="no-college">
<h2>Campus Bookswap isn't available at <br> <%= @current_user.schools.first.name %> yet!</h2>
<h3>Campus Bookswap is only available at a small number of colleges due to availability of online course data. <br><br>
	If you are interested in getting Campus Bookswap at your school, please contact us at 5cbookexchange@gmail.com! 
<br>
	
<h3>Thanks!</h3>
	
</div>